body{
    background-color: black;
    color: rgb(43, 122, 226);
    font-family: "Iosevka Charon Mono", monospace;
    margin: 0px;
}
header{
    font-size: 30px;
    border-bottom: inset 5px rgb(0, 195, 255); 
    padding: 12px;
    color: rgb(132, 231, 215);
}

section{
    background-color: rgb(168, 221, 238);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto{
    margin-right: 5%;
}

h1{
    font-size: 50px;
}
p{
    font-size: 20px;
}